[Desktop Entry]
Name={{ app_name }}
GenericName={{ app_generic_name }}
Comment={{ app_comment }}
Exec={{ app_bin }}
Icon={{ app_class }}
StartupWMClass={{ app_class }}
StartupNotify=false
Terminal=false
Type=Application
Version=1.0
Categories={{ app_categories }}
