[fma-config-tool]
main-toolbar-file-display=true
main-toolbar-edit-display=true
main-toolbar-help-display=true
main-tabs-pos=Top

relabel-when-duplicate-menu=false
relabel-when-duplicate-action=false
relabel-when-duplicate-profile=false
assistant-esc-quit=true
assistant-esc-confirm=true
main-save-auto=false
main-save-period=5
import-preferred-mode=Ask
export-preferred-format=Ask
scheme-default-list=dav|WebDAV files;file|Local files;ftp|FTP files;sftp|SSH files;smb|Windows files;
io-providers-write-order=io-desktop;
preferences-wsp=195;143;841;361;

[runtime]
items-level-zero-order={{ fma_actions_ids }}
items-list-order-mode=ManualOrder
items-create-root-menu=false
items-add-about-item=true
terminal-pattern=
desktop-environment=

[io-provider io-desktop]
readable=true
writable=true
